@media print {
    
    #GameScreen {
        background-color: darkslategray;
    }
    
    html {
        color: black;
        -webkit-print-color-adjust: exact; 
    }
    main, article{
        flex-direction: column;
        color: black;
        font-weight: 100;
    }
    
    .white {
        color: black;
    }
    
    #desc1,#desc2,#desc3,#desc4{
        display: flex;
    }

    #nextBtn, h6, footer {
        display: none;
    }
    
    .marker {
        font-weight: bold;
    }
    

}